In [14]:
import pandas as pd

In [15]:
import matplotlib.pyplot as plt

In [16]:
import seaborn as sns

Setting Style:

In [17]:
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)
plt.rcParams['font.sans-serif'] = ['Arial']

Initial Data Loading and Inspection:

In [20]:
df_housing = pd.read_csv('city_market_tracker.tsv', sep='\t')

In [21]:
print(df_housing.head())

  PERIOD_BEGIN  PERIOD_END  PERIOD_DURATION REGION_TYPE  REGION_TYPE_ID  \
0   2015-10-01  2015-10-31               30       place               6
1   2014-04-01  2014-04-30               30       place               6
2   2017-10-01  2017-10-31               30       place               6
3   2024-07-01  2024-07-31               30       place               6
4   2022-01-01  2022-01-31               30       place               6

   TABLE_ID  IS_SEASONALLY_ADJUSTED            REGION          CITY  \
0      8591                   False  Indian Trail, NC  Indian Trail
1      8225                   False   Hainesville, IL   Hainesville
2     10716                   False     Maysville, NC     Maysville
3      3140                   False      Chewelah, WA      Chewelah
4     11322                   False       Lombard, IL       Lombard

            STATE  ... SOLD_ABOVE_LIST_YOY PRICE_DROPS  PRICE_DROPS_MOM  \
0  North Carolina  ...            0.038406    0.224066        -0.011228
1        Illinois  ...            0.500000    0.333333         0.166667
2  North Carolina  ...            0.500000         NaN              NaN
3      Washington  ...            0.000000    0.250000        -0.057692
4        Illinois  ...           -0.018092    0.134615        -0.028175

   PRICE_DROPS_YOY  OFF_MARKET_IN_TWO_WEEKS  OFF_MARKET_IN_TWO_WEEKS_MOM  \
0         0.023309                 0.291667                    -0.084804
1              NaN                      NaN                          NaN
2              NaN                 0.000000                     0.000000
3        -0.659091                 0.500000                    -0.166667
4        -0.280019                 0.241379                    -0.175287

   OFF_MARKET_IN_TWO_WEEKS_YOY  PARENT_METRO_REGION  \
0                     0.034524        Charlotte, NC
1                          NaN      Lake County, IL
2                     0.000000         New Bern, NC
3                     0.277778          Spokane, WA
4                    -0.136398          Chicago, IL

   PARENT_METRO_REGION_METRO_CODE               LAST_UPDATED
0                           16740  2025-04-18 14:40:47.550 Z
1                           29404  2025-04-18 14:40:47.550 Z
2                           35100  2025-04-18 14:40:47.550 Z
3                           44060  2025-04-18 14:40:47.550 Z
4                           16984  2025-04-18 14:40:47.550 Z

[5 rows x 58 columns]

In [22]:
print(df_housing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5818731 entries, 0 to 5818730
Data columns (total 58 columns):
 #   Column                          Dtype
---  ------                          -----
 0   PERIOD_BEGIN                    object
 1   PERIOD_END                      object
 2   PERIOD_DURATION                 int64
 3   REGION_TYPE                     object
 4   REGION_TYPE_ID                  int64
 5   TABLE_ID                        int64
 6   IS_SEASONALLY_ADJUSTED          bool
 7   REGION                          object
 8   CITY                            object
 9   STATE                           object
 10  STATE_CODE                      object
 11  PROPERTY_TYPE                   object
 12  PROPERTY_TYPE_ID                int64
 13  MEDIAN_SALE_PRICE               float64
 14  MEDIAN_SALE_PRICE_MOM           float64
 15  MEDIAN_SALE_PRICE_YOY           float64
 16  MEDIAN_LIST_PRICE               float64
 17  MEDIAN_LIST_PRICE_MOM           float64
 18  MEDIAN_LIST_PRICE_YOY           float64
 19  MEDIAN_PPSF                     float64
 20  MEDIAN_PPSF_MOM                 float64
 21  MEDIAN_PPSF_YOY                 float64
 22  MEDIAN_LIST_PPSF                float64
 23  MEDIAN_LIST_PPSF_MOM            float64
 24  MEDIAN_LIST_PPSF_YOY            float64
 25  HOMES_SOLD                      float64
 26  HOMES_SOLD_MOM                  float64
 27  HOMES_SOLD_YOY                  float64
 28  PENDING_SALES                   float64
 29  PENDING_SALES_MOM               float64
 30  PENDING_SALES_YOY               float64
 31  NEW_LISTINGS                    float64
 32  NEW_LISTINGS_MOM                float64
 33  NEW_LISTINGS_YOY                float64
 34  INVENTORY                       float64
 35  INVENTORY_MOM                   float64
 36  INVENTORY_YOY                   float64
 37  MONTHS_OF_SUPPLY                float64
 38  MONTHS_OF_SUPPLY_MOM            float64
 39  MONTHS_OF_SUPPLY_YOY            float64
 40  MEDIAN_DOM                      float64
 41  MEDIAN_DOM_MOM                  float64
 42  MEDIAN_DOM_YOY                  float64
 43  AVG_SALE_TO_LIST                float64
 44  AVG_SALE_TO_LIST_MOM            float64
 45  AVG_SALE_TO_LIST_YOY            float64
 46  SOLD_ABOVE_LIST                 float64
 47  SOLD_ABOVE_LIST_MOM             float64
 48  SOLD_ABOVE_LIST_YOY             float64
 49  PRICE_DROPS                     float64
 50  PRICE_DROPS_MOM                 float64
 51  PRICE_DROPS_YOY                 float64
 52  OFF_MARKET_IN_TWO_WEEKS         float64
 53  OFF_MARKET_IN_TWO_WEEKS_MOM     float64
 54  OFF_MARKET_IN_TWO_WEEKS_YOY     float64
 55  PARENT_METRO_REGION             object
 56  PARENT_METRO_REGION_METRO_CODE  int64
 57  LAST_UPDATED                    object
dtypes: bool(1), float64(42), int64(5), object(10)
memory usage: 2.5+ GB
None

Looking for missing values:

In [23]:
print(df_housing.isnull().sum())

PERIOD_BEGIN                            0
PERIOD_END                              0
PERIOD_DURATION                         0
REGION_TYPE                             0
REGION_TYPE_ID                          0
TABLE_ID                                0
IS_SEASONALLY_ADJUSTED                  0
REGION                                  0
CITY                                    0
STATE                                   0
STATE_CODE                              0
PROPERTY_TYPE                           0
PROPERTY_TYPE_ID                        0
MEDIAN_SALE_PRICE                    6582
MEDIAN_SALE_PRICE_MOM             1102021
MEDIAN_SALE_PRICE_YOY             1203523
MEDIAN_LIST_PRICE                  960301
MEDIAN_LIST_PRICE_MOM             1738535
MEDIAN_LIST_PRICE_YOY             1844692
MEDIAN_PPSF                         78734
MEDIAN_PPSF_MOM                   1164124
MEDIAN_PPSF_YOY                   1266240
MEDIAN_LIST_PPSF                   982804
MEDIAN_LIST_PPSF_MOM              1760913
MEDIAN_LIST_PPSF_YOY              1867600
HOMES_SOLD                           6132
HOMES_SOLD_MOM                    1101609
HOMES_SOLD_YOY                    1203086
PENDING_SALES                      605879
PENDING_SALES_MOM                 1523746
PENDING_SALES_YOY                 1646817
NEW_LISTINGS                       980661
NEW_LISTINGS_MOM                  1756710
NEW_LISTINGS_YOY                  1866894
INVENTORY                          470919
INVENTORY_MOM                     1328624
INVENTORY_YOY                     1473224
MONTHS_OF_SUPPLY                   390459
MONTHS_OF_SUPPLY_MOM              1262066
MONTHS_OF_SUPPLY_YOY              1397808
MEDIAN_DOM                          73515
MEDIAN_DOM_MOM                    1166784
MEDIAN_DOM_YOY                    1272591
AVG_SALE_TO_LIST                   203820
AVG_SALE_TO_LIST_MOM              1255062
AVG_SALE_TO_LIST_YOY              1350730
SOLD_ABOVE_LIST                     39180
SOLD_ABOVE_LIST_MOM               1127888
SOLD_ABOVE_LIST_YOY               1229737
PRICE_DROPS                       2722159
PRICE_DROPS_MOM                   3260419
PRICE_DROPS_YOY                   3487341
OFF_MARKET_IN_TWO_WEEKS            483681
OFF_MARKET_IN_TWO_WEEKS_MOM       1419771
OFF_MARKET_IN_TWO_WEEKS_YOY       1550033
PARENT_METRO_REGION                     0
PARENT_METRO_REGION_METRO_CODE          0
LAST_UPDATED                            0
dtype: int64

Converting to lowercase string for easier filtering:

In [24]:
df_housing['PARENT_METRO_REGION'] = df_housing['PARENT_METRO_REGION'].astype(str).str.lower()

In [25]:
df_housing['STATE'] = df_housing['STATE'].astype(str).str.lower()

Filtering Dataset for San Diego only:

In [30]:
df_san_diego = df_housing[(df_housing['PARENT_METRO_REGION'] == 'san diego, ca') & (df_housing['STATE'] == 'california')].copy()

Looking for missing values in the San Diego filtered data:

In [31]:
print(df_san_diego.isnull().sum())

PERIOD_BEGIN                         0
PERIOD_END                           0
PERIOD_DURATION                      0
REGION_TYPE                          0
REGION_TYPE_ID                       0
TABLE_ID                             0
IS_SEASONALLY_ADJUSTED               0
REGION                               0
CITY                                 0
STATE                                0
STATE_CODE                           0
PROPERTY_TYPE                        0
PROPERTY_TYPE_ID                     0
MEDIAN_SALE_PRICE                    0
MEDIAN_SALE_PRICE_MOM             2728
MEDIAN_SALE_PRICE_YOY             2695
MEDIAN_LIST_PRICE                 2260
MEDIAN_LIST_PRICE_MOM             4296
MEDIAN_LIST_PRICE_YOY             4383
MEDIAN_PPSF                        171
MEDIAN_PPSF_MOM                   2880
MEDIAN_PPSF_YOY                   2846
MEDIAN_LIST_PPSF                  2261
MEDIAN_LIST_PPSF_MOM              4297
MEDIAN_LIST_PPSF_YOY              4385
HOMES_SOLD                           0
HOMES_SOLD_MOM                    2728
HOMES_SOLD_YOY                    2695
PENDING_SALES                     1721
PENDING_SALES_MOM                 3893
PENDING_SALES_YOY                 4038
NEW_LISTINGS                      2258
NEW_LISTINGS_MOM                  4296
NEW_LISTINGS_YOY                  4379
INVENTORY                         1243
INVENTORY_MOM                     3395
INVENTORY_YOY                     3493
MONTHS_OF_SUPPLY                  1243
MONTHS_OF_SUPPLY_MOM              3395
MONTHS_OF_SUPPLY_YOY              3493
MEDIAN_DOM                         109
MEDIAN_DOM_MOM                    2849
MEDIAN_DOM_YOY                    2822
AVG_SALE_TO_LIST                     1
AVG_SALE_TO_LIST_MOM              2728
AVG_SALE_TO_LIST_YOY              2696
SOLD_ABOVE_LIST                      0
SOLD_ABOVE_LIST_MOM               2728
SOLD_ABOVE_LIST_YOY               2695
PRICE_DROPS                       5148
PRICE_DROPS_MOM                   7498
PRICE_DROPS_YOY                   7691
OFF_MARKET_IN_TWO_WEEKS           1721
OFF_MARKET_IN_TWO_WEEKS_MOM       3893
OFF_MARKET_IN_TWO_WEEKS_YOY       4038
PARENT_METRO_REGION                  0
PARENT_METRO_REGION_METRO_CODE       0
LAST_UPDATED                         0
dtype: int64